@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "tailwind-hamburgers";

:root {
  --background: #ffffff;
  --foreground: #242424;

  --primary: #242424;
  --secondary: #e0ddd7;
  --accent: #f1ba35;

  --border: #f5f5f5;
  --subtitle: #727272;
}

.dark {
  --background: #0f172a;
  --foreground: #e0ddd7;

  --primary: #ffffff;
  --border: #1e293b;
  --subtitle: #dcdcdc;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-subtitle: var(--subtitle);

  --header-height: 52px;

  --menu-animation-slide-time: 0.6s;

  --menu-slide-down-curve: cubic-bezier(0.85, 0, 0.24, 1);
}

@layer components {
  .h1-logo {
    @apply font-black tracking-tighter;
  }
}

html {
  scrollbar-gutter: stable;
}
